.header {
	color: black;
	text-align: center;
	background: #E9F2F5	;
	font: bold;
	font-size: 25px;
	overflow: hidden;
}

.login_form {
	width: 1300px;
	height: 600px;
	border: 1px solid black;
	overflow: hidden;
	border-radius: 10px;
}

.maindiv{
	margin: 5% 10% 10% 15%;

}

p {
	font-size: 25px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	font-size: 25px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_2_of_3 { width: 100%; }
.span_1_of_3 { width: 50%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%;}
}

button{
	font-size: 25px;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 10px;

}
