.login_form {
	width: 400px;
	height: 275px;
	border-radius: 10px;
	border: 1px solid black;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 1000px;
}

.header {
	color: black;
	text-align: center;
	background: #E9F2F5	;
	font: bold;
	font-size: 25px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}